@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", Inter, sans-serif;
  height: 100vh;
  background-color: #FFFFFF;
}

nav {
  display: flex;
  align-items: center;
  background-color: #8724AA;
  height: 90px;
  padding: 30px 15px;
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0, 0.1);
}

.nav-logo_text, .nav-title {
  margin: 0;
}

.nav-logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav-title {
  color: #DEEBF8;
  font-weight: 600;
  margin-left: auto;
}

.nav-icon {
  height: 30px;
  width: 82.02px;
  height: 25, 35px;
  margin-right: 5px;
  margin-left: 7x;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url('/images/logo-react-back.png');
  background-repeat: no-repeat;
  background-position: right 75%;
  background-size: 150px;
}

.main-title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-facts {
  margin-top: 46px;
  max-width: 400px;
}

.main-facts>li {
  line-height: 19px;
  padding-block: 10px;
}

.main-facts>li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

section {
  padding-top: 10px;
  max-width: 550px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-texto {
  padding-left: 36px;
}

.hero-texto h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}

.hero-texto p {
  font-size: 16px;
  font-weight: 300;
  line-height: 17.6px;
}

.hero-grid {
  max-width: 400px;
  margin: auto;
}

.card-list {
display: flex;
margin-left: 37px;
gap: 20px;
}

.card {
display: flex;
flex-direction: column;
padding-bottom: 30px;
max-width: 176px;
font-size: 12px;
font-weight: 300;
line-height: 0px;
position: relative;
}
.card-photo {
max-width: 176px;
border-radius: 9px;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 10px 8px;
  border-radius: 2px;
  font-weight: bold;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}