.header {
    font-family: monospace;
    background: papayawhip;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
    margin: 8px;
}

ul {
    /* isso remove os pontos nos itens da lista*/
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* isso remove a linha sob os links */
    text-decoration: none;
}