body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  /*grid-template-rows: 50fr 1fr 1fr;*/
  grid-template-rows: 500px 1fr;
  /* logo em cima, menu embaixo */
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: 200px 1fr;
  /* sidebar fixa + área útil flexível */
  height: 100vh;
  background-color: #aed8e8;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #f2f1ee;
}

.logo i {
    color: #FFD400;            /* raio amarelo */
    font-size: 18px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  /* grid no menu */
  grid-auto-rows: min-content;
  /* cada item ocupa altura mínima */
  gap: 10px;
  /* espaço entre os links */
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* <<< aqui */
}

.menu li:hover {
  background-color: #0c5d7c;
}

/* Área útil */
.main {
  background-color: #dbd6d6;
  padding: 20px;
  grid-column: 2;  /* segunda coluna */
  grid-row: 1 / span 4; /* ocupa da linha 1 até a 3 */

}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}
.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}
.card .title {
  font-size: 18px;
  text-align: center;
}
.sidebar {
  background-color: #0f92c4;
  grid-row: 1 / 2;
  display: grid;
  gap: 10px;
}
.header {
  grid-column: 1 / 3;
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.logo{
  justify-self: start;
}
.menuheader ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menuheader ul,
.menuheader li {
  font-size: 16px;
  list-style-type: none;
}

.menuheader li:hover {
  background-color: #0c5d7c;
}
