body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

/* GRID PRINCIPAL */
.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 200px 1fr; /* sidebar + conteúdo */
  grid-template-rows: 70px 1fr;     /* header + main */
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background-color: #0f92c4;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.logo i {
  color: #FFD400; /* ícone raio amarelo */
}

/* MENU LATERAL */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  /*padding: 8px 12px;*/
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;

}

.menu li:hover {
  background-color: #0c5d7c;
}

.menu i {
  color: #fff; /* ícones amarelos */
}

/* HEADER */
.header {
  grid-area: header;
  background-color: #393f4d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.menuheader ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuheader li {
  cursor: pointer;
  padding: 6px 10px;
  transition: background-color 0.3s ease;
}

.menuheader li:hover {
  background-color: #0c5d7c;
}

/* MAIN */
.main {
  grid-area: main;
  background-color: #dbd6d6;
  padding: 20px;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}
