.container{
  display: inline-grid;
  grid-template: 40px 40px 40px 40px / 40px 80px 40px ;
  background-color: lightblue;
}

.room{
  border: 1px solid;
  font-size: 50%;
  text-align: center;
}

#Cubo1{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-Items: center
}

#Cubo2{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-Items: center
}

#Cubo3{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-Items: center
}

#Cubo4{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-Items: center
}

#Cubo5{
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  display: flex;
  justify-content: center;
  align-Items: center
}

#Cubo6{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-Items: center
}

#Cubo7{
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-Items: center
}

#Cubo1, #Cubo3, #Cubo5, #Cubo7{
  background-color: orange;
}

#Cubo2, #Cubo4, #Cubo6{
  background-color: green;
}

#Cubo1, #Cubo2, #Cubo3, #Cubo4, #Cubo5, #Cubo6, #Cubo7{
  display: flex;
  justify-content: center;
  align-Items: center
}
