.threeway_flex {
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  text-align: center;
}
.threeway_flex > div {
  background-color: #f4f4f4;
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 40px;
}