@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  background: white;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 72px;
  background: white;
  color: white;
}

.left-links, .right-links{
  display: flex;
  gap: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 400px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}