.flex-container {
  display: flex;
}

/* este seletor seleciona todas as divs dentro de
.flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  flex: 1;
}